.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 10px 50px;
  background-color: black;
  color: #fff;
  height: 100%;
}

.box {
  width: 150px;
  height: 150px;
  background-color: #3498db;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-size: 18px;
  border-radius: 5px;
}

.box2{
  width: 150px;
  height: 150px;
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-size: 18px;
  border-radius: 5px;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #e74c3c;
  margin: 20px auto;
  border-radius: 50%;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #072323;
}

.menu{
  display: flex;
  gap: 20px;
}

.box-animation{
  margin-top: 10%;
}